
{{#each .}}
<div class="banner-small">
  {{banner @key}}
</div>
{{#each .}}
<div class="beer">
  <aside>
    <div class="rating">{{rating-symbol rating}}</div>
    <div class="rating-text"><span class="hidden">{{rating}}.0</span></div>
    <!--<div class="country-pic"><img src="images/{{country}}.png"/><span class="hidden country">{{country}}</span></div>
    <div class="style" style="background: {{beerColor style}}"></div> -->
  </aside>
  <div>
    <div class="top">
      <span class="brewery">{{brewery}}</span> <span class="name">{{name}}</span>
    </div>
    <div class="middle">
      <span class="country">{{country}}</span> –
      <span class="style">{{style}}</span> –
      <span class="date"><span class="hidden">{{drinkYear}}-{{drinkMonth}}</span>{{date drinkMonth drinkYear}}</span>
    </div>
    <div class="bottom hidden">
      <span class="abv">{{abv}}%</span> – 
      <span class="location">
        <span class="italics">in&nbsp;</span>
        <span class="location-city">{{drinkLocationCity}}</span>,&nbsp;
        <span class="location-country">
          {{drinkLocationCountry}}
          <span class="hidden">-{{drinkLocationCity}}</span>
        </span>
      </span>
      <!--<span class="date-small">{{drinkMonth}}/{{drinkYear}}</span><span class="date"><span class="hidden">{{drinkYear}}-{{drinkMonth}}</span>{{date drinkMonth drinkYear}}</span>
      -->
    </div>
  </div>
</div>
{{/each}}
{{/each}}
