extend layout

block page-scripts
	script(src="/javascripts/d3.beerviz.js")
	script(src="/javascripts/d3.v3.min.js")
	script(src="/javascripts/moment.min.js")
	script
		$(document).ready(function(){
			$.get("/data/json/#{dataType}",
					function(response){
						console.log(countByParam("#{dataType}",response));
						console.log(reduceList(response,"drinkDate"));
						console.log(reduceList(response,"rating"));
						console.log(reduceList(response,"drinkMonth"));
						console.log(reduceList(response,"drinkYear"));
						var ag = aggregate(response,"brewery");
						$.each(ag, function(i,v){
							if(v.count > 6)
								console.log(i + " " + (v.ratingTotal/v.count));
							});
					},
					"json"

			);
			linechart("/data/json/#{dataType}","#{dataType}");
		});

block content
	| #{title}
	.response